/* Footer Bottom */
.main-footer {
    background: #222222;
}

.footer-bottom {
    position: relative;
}

.footer-bottom .copyright-text {
    color: white;
}

.footer-bottom .copyright-text a {
    color: var(--primary-color);
}