.main-header {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 100%;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    @include bp(sm) {
        position: fixed;
        background: #000;

    }
}

.navbar-standard {
    .navbar-collapse {
        @include bp(sm) {
            order: 1;
        }

        .side-menu {
            opacity: 0;
            z-index: 0;
            transition: all .5s ease;
            visibility: hidden;

            &.side-menu-active,
            &.before-side {
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                z-index: 9999;
                opacity: 1;
                visibility: visible;
            }

        }
    }

}

.side-nav {
    .navbar-nav {
        @include bp(sm) {
            padding: 20px 0;

        }

        .nav-item {
            display: block;
            // margin: 0 auto;
            padding: 0 !important;
            opacity: 0;
            -webkit-transition: all 0.8s ease 500ms;
            -o-transition: all 0.8s ease 500ms;
            transition: all 0.8s ease 500ms;
            -webkit-transform: translateY(30px);
            -ms-transform: translateY(30px);
            -o-transform: translateY(30px);
            transform: translateY(30px);

            &:first-child {
                -webkit-transition-delay: .1s;
                -o-transition-delay: .1s;
                transition-delay: .1s;
            }

            &:nth-child(2) {
                -webkit-transition-delay: .2s;
                -o-transition-delay: .2s;
                transition-delay: .2s;
            }

            &:nth-child(3) {
                -webkit-transition-delay: .3s;
                -o-transition-delay: .3s;
                transition-delay: .3s;
            }

            &:nth-child(4) {
                -webkit-transition-delay: .4s;
                -o-transition-delay: .4s;
                transition-delay: .4s;
            }

            &:nth-child(5) {
                -webkit-transition-delay: .5s;
                -o-transition-delay: .5s;
                transition-delay: .5s;
            }

            // &:nth-child(6) {
            //     -webkit-transition-delay: .6s;
            //     -o-transition-delay: .6s;
            //     transition-delay: .6s;
            // }

            // &:nth-child(7) {
            //     -webkit-transition-delay: .7s;
            //     -o-transition-delay: .7s;
            //     transition-delay: .7s;
            // }

            // &:nth-child(8) {
            //     -webkit-transition-delay: .8s;
            //     -o-transition-delay: .8s;
            //     transition-delay: .8s;
            // }

            // &:nth-child(9) {
            //     -webkit-transition-delay: .9s;
            //     -o-transition-delay: .9s;
            //     transition-delay: .9s;
            // }

            .nav-link {
                display: inline-table;
                color: #fff;
                padding: 10px 20px;
                font-size: 15px;
                font-weight: 500;
                line-height: normal;
                position: relative;
                -webkit-border-radius: 0;
                border-radius: 0;

                @include bp(sm) {
                    padding: 0;
                    margin-bottom: 20px;

                }




                &::after {
                    content: "";
                    position: absolute;
                    background: #fff;
                    display: inline-block;
                    width: 0;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    overflow: hidden;
                    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
                    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
                    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
                }

                &.active {
                    background: transparent;
                }

                &:hover {
                    color: var(--primary-color);
                }
            }

            &:last-child {
                .nav-link {
                    margin-bottom: 0;
                }

            }

            &.active {
                .nav-link {
                    color: var(--primary-color);
                }
            }
        }
    }
}


.main-header.fixed-header {
    top: 0;
    left: 0;
    position: fixed;
    -webkit-animation: sticky 1s;
    animation: sticky 1s;
    background: var(--lighter-color);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(87, 95, 245, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(87, 95, 245, 0.1);
}

@media only screen and (min-width: 992px) {
    .main-header.fixed-header .main-menu .navbar-collapse>ul>li {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}


@-webkit-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}






.side-menu.side-menu-active .side-nav .navbar-nav .nav-item {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.nav-item a {
    transition: all .3s ease;
}








// New header

.header-module {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .nav-trigger,
    .nav-trigger:focus,
    .nav-trigger:hover {
        border: none;
        background: 0 0;
        font-size: 1em;
        text-shadow: none;
        outline: 0;
        padding: 0;
        border-radius: 3em;
        background: 0 0;
        background-color: transparent;
        box-shadow: none;

        &.txt-left {
            flex-direction: row-reverse;

        }

        .txt {
            line-height: 1;
            white-space: nowrap;
            transition: transform 0.45s, opacity 0.45s, color 0.3s;
            transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            color: #23f7dd;
            font-size: 16px;
        }

        .bars {
            width: 62px;
            height: 62px;
            flex: 1 0 62px;
            display: inline-block;
            position: relative;
            border-radius: inherit;
            margin-inline-start: 10px;
            margin-inline-end: 0;

            @include bp(sm) {
                width: 40px;
                height: 40px;
                flex: 1 0 40px;

            }

            &:before {
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: inherit;
                transition: border 0.3s, background 0.3s;
                background-color: transparent;

            }

            .bars-inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                opacity: 1;
                border-radius: inherit;
                align-items: center;

                .bar {
                    width: 24px;
                    height: 2px;
                    position: relative;
                    transition: all 0.3s;
                    background: none !important;

                    &:first-child {
                        &:before {
                            transform-origin: right;
                            transform: translateX(-100%);
                            transition: transform 0.3s 0.15s cubic-bezier(0.65, 0.05, 0.36, 1), background 0.3s;
                        }
                    }

                    &:first-child,
                    &:nth-child(2) {
                        overflow: hidden;
                    }

                    &:first-child:after,
                    &:nth-child(2):after {
                        content: none;
                    }

                    &:nth-child(2):before {
                        transform: translateX(100%);
                        transition: transform 0.3s 0.075s cubic-bezier(0.65, 0.05, 0.36, 1), background 0.3s;
                    }


                    &:not(:last-child) {
                        margin-top: 3px;
                        margin-bottom: 3px;
                    }


                    &:last-child {
                        width: 24px;
                        height: 10px;
                        position: absolute;
                        top: calc(50% - 5px);
                        left: calc(50% - 13px);

                        &:before,
                        &:after {
                            transform-origin: 73%;
                        }

                        &:before {
                            transition: transform 0.3s 0.125s cubic-bezier(0.65, 0.05, 0.36, 1), background 0.3s;
                            transform: scale(1) rotate(-45deg) translate(0);
                        }

                        &:after {
                            top: auto;
                            bottom: 0;
                            transition: transform 0.3s 0.175s cubic-bezier(0.65, 0.05, 0.36, 1), background 0.3s;
                            transform: scale(1) rotate(45deg) translate(0);
                        }
                    }


                    &:after,
                    &:before {
                        content: "";
                        display: inline-block;
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #23f7dd;
                    }


                }
            }
        }

        &:hover {
            .bars {
                &:before {
                    background-color: #fff;
                }
            }
        }

        &.style-2 {
            &.collapsed {
                .bar {
                    &:first-child {
                        &:before {
                            transform: scaleX(0.666);
                            transform: scaleX(.666);
                        }
                    }

                    &:nth-child(2):before {
                        transform: rotate(0) translate(0, 0);
                    }

                    &:last-child {
                        &:before {
                            transform: scale(0) rotate(-45deg) translate(150%);
                        }

                        &:after {
                            transform: scale(0) rotate(45deg) translate(150%);
                        }
                    }
                }
            }
        }
    }
}


.nav-trigger {
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;


}


.nav-trigger.collapsed .bar:first-child:after,
.nav-trigger.collapsed .bar:first-child:before,
.nav-trigger.collapsed .bar:last-child:after,
.nav-trigger.collapsed .bar:last-child:before,
.nav-trigger.collapsed .bar:nth-child(2):after,
.nav-trigger.collapsed .bar:nth-child(2):before {
    // transform: rotate(0) translate(0, 0);
}








































// Mobile 

.nav-trigger.style-mobile .bars {
    width: 20px;
    height: 15px;
    transform: rotate(0);
    transition: all 0.45s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-trigger.style-mobile .bar {
    width: 20px;
    height: 2px;
    border-radius: 50px;
    margin-bottom: 4.25px;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-trigger.style-mobile .bar:first-child,
.nav-trigger.style-mobile .bar:last-child {
    opacity: 0;
    visibility: hidden;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-trigger.style-mobile .bar:first-child {
    transform: translateY(-3px);
}

.nav-trigger.style-mobile .bar:last-child {
    transform: translateY(3px);
}

.nav-trigger.style-mobile .bar:nth-child(2) {
    width: 22px;
    margin-inline-end: auto;
    transform: rotate(45deg);
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-trigger.style-mobile .bar:nth-child(2):before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    transition: inherit;
    background-color: inherit;
    transform: rotate(-90deg);
}


.nav-trigger.bordered .bars:before {
    border: 1px solid #e1e1e1;
}



.nav-trigger.round {
    border-radius: 4px;
}



.nav-trigger.rotate-90 {
    transform: rotate(-90deg);
}



.nav-trigger.collapsed.style-mobile .bar:first-child,
.nav-trigger.collapsed.style-mobile .bar:last-child {
    transition-delay: 0.15s;
}

.nav-trigger.collapsed.style-mobile .bar:nth-child(2) {
    width: 16px;
}

.nav-trigger.collapsed.style-mobile .bar:nth-child(2):before {
    opacity: 0;
}