.progressbar {
    position: fixed;
    height: 100px;
    width: 1px;
    bottom: 25px;
    right: -25px;
    background-color: rgba(255, 255, 255, 0.298);
    z-index: 10;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.progressbar.animate {
    right: 25px;
}

.progressbar .line {
    position: absolute;
    width: 1px;
    height: auto;
    background-color: var(--primary-color);
}

.progressbar .text {
    position: absolute;
    bottom: 100px;
    left: 0px;
    font-size: 13px;
    transform: rotateZ(90deg);
    text-transform: uppercase;
    transform-origin: left;
    white-space: nowrap;
    color: var(--primary-color);
}

.progressbar a {
    text-decoration: none;
    color: #000;
}