/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
  outline: 2px solid red;
  background: transparent;
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}

.frame {
  position: relative;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "title" "prev" "sponsor" "demos";
  grid-gap: 0.5rem;
  justify-items: start;
  align-self: start;
  justify-self: start;
  pointer-events: none;
  align-items: center;
  font-size: 0.85rem;
  opacity: 0.7;
}

body #cdawrap {
  justify-self: start;
}

.frame a {
  pointer-events: auto;
}

.frame a:not(.frame__title-back) {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.frame a:not(.frame__title-back)::before {
  content: "";
  height: 1px;
  width: 100%;
  background: currentColor;
  position: absolute;
  top: 90%;
  transition: transform 0.3s;
  transform-origin: 0% 50%;
}

.frame a:not(.frame__title-back):hover::before {
  transform: scaleX(0);
  transform-origin: 100% 50%;
}

.frame__title {
  grid-area: title;
  display: flex;
}

.frame__title-main {
  font-size: inherit;
  margin: 0;
  font-weight: inherit;
}

.frame__title-back {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.frame__title-back span {
  display: none;
}

.frame__title-back svg {
  fill: currentColor;
}

.frame__prev {
  grid-area: prev;
}

.project {
  padding: 1rem;
  max-width: 1000px;
  margin: 20vh auto;
  display: grid;
  grid-column-gap: 7vw;
  grid-row-gap: 0.5rem;
}

.project--intro {
  grid-template-columns: 1fr;
  grid-template-areas:
    "label-name"
    "name"
    "label-date"
    "date"
    "title"
    "label-mission"
    "mission";
}

.project--details {
  grid-template-areas: "label-default" "paragraph";
  grid-template-columns: 1fr;
}

.project--left {
  justify-content: start;
}

.project--right {
  justify-content: end;
}

.project--details p {
  grid-area: paragraph;
  max-width: 400px;
}

.project__label--default {
  grid-area: label-default;
}

.project p {
  line-height: 1.4;
  margin: 0;
  color: var(--color-text-alt);
}

.project__label {
  color: var(--color-label);
}

.project__label--name {
  grid-area: label-name;
}

.project__label--date {
  grid-area: label-date;
}

.project__label--mission {
  grid-area: label-mission;
}

.project__name {
  grid-area: name;
}

.project__date {
  grid-area: date;
}

.project__mission {
  grid-area: mission;
  line-height: 1.4;
}

.project__mission p:first-child {
  grid-area: p1;
}

.project__mission p:child {
  grid-area: p2;
}

.project__mission p {
  color: var(--color-text-alt);
}

.project__title {
  grid-area: title;
  font-size: clamp(2rem, 13vw, 8rem);
  font-weight: 400;
  margin: 10vh 0;
  line-height: 1;
}

.project__heading {
  color: var(--color-label);
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

.gallery-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40vh auto;
  overflow: hidden;
}

.gallery-wrap--auto {
  height: auto;
}

.gallery-wrap--large {
  height: 110vh;
}

.gallery-wrap--dense {
  margin: 0;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
}

.gallery--breakout {
  width: min-content;
}

.gallery__item {
  flex: none;
  border-radius: 20px;
  position: relative;
  border: 1px solid #0f1b61;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(24.5px);
  background-color: rgb(236 251 247);
  position: relative;
  z-index: 2;
  gap: 20px;
  padding: 5px;
  svg {
    width: 45px;
    height: 45px;
  }
}

.caption {
  font-size: clamp(1rem, 3vw, 1.75rem);
  line-height: 5.5rem; /* Fixed line height of 1.5rem */

  z-index: 101;
}

.gallery--row .caption {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -50vh;
  left: 0;
  padding: 4.5vw;
  max-width: 730px;
  opacity: 0;
}

.gallery--switch.gallery--row .caption {
  bottom: 0;
  opacity: 1;
}

.gallery--grid {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 2.5vw;
  column-gap: 3vw;
}

.gallery--grid .gallery__item {
  height: 33vh;
  width: 33vw;
}

.gallery--switch.gallery--grid {
  gap: 0;
}

.gallery--switch.gallery--grid .gallery__item {
  height: 110vh;
  width: 110vw;
  filter: brightness(0.65);
}

.gallery--grid .caption {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0;
  top: 50%;
  left: 50%;
  margin-top: 50vh;
  margin-left: -50vw;
  display: grid;
  place-items: center;
  max-width: none;
  opacity: 0;
}

.gallery--switch.gallery--grid .caption {
  margin-top: -40vh;
  opacity: 1;
}

.gallery--grid .caption p {
  padding: 50vh 30vw 10vh 10vw;
}

.gallery--switch.gallery--grid .caption p {
  margin-top: 0;
}

.gallery--stack {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding: 2rem;
  --offset: 1rem;
}

.gallery--stack .gallery__item {
  width: 25vw;
  height: 25vw;
  z-index: 1;
  border: unset;
  background-color: #87ceeb;
  text-align: center;
}
.gallery__item {
  img {
    width: 45px;
  }
}
.gallery--stack-glass .gallery__item {
  filter: opacity(1);
}

.gallery--switch.gallery--stack .gallery__item {
  grid-area: 1 / 1 / 2 / 2;
}

.gallery--stack .caption {
  position: absolute;
  bottom: 0;
  left: 100vw;
  width: 100vw;
  padding: 5vw;
  color: var(--color-text-alt);
  opacity: 0;
  z-index: 0;
}

.gallery--stack .caption p {
  margin: 0;
}

.gallery--switch.gallery--stack .caption {
  left: 0;
  opacity: 1;
}

@media screen and (min-width: 53em) {
  .gallery--grid10 {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .gallery--grid10:not(.gallery--switch) .pos-1 {
    grid-area: 1 / 1;
  }
  .gallery--grid10:not(.gallery--switch) .pos-2 {
    grid-area: 1 / 2;
  }
  .gallery--grid10:not(.gallery--switch) .pos-3 {
    grid-area: 1 / 4;
  }
  .gallery--grid10:not(.gallery--switch) .pos-4 {
    grid-area: 1 / 5;
  }
  .gallery--grid10:not(.gallery--switch) .pos-5 {
    grid-area: 3 / 6;
  }
  .gallery--grid10:not(.gallery--switch) .pos-6 {
    grid-area: 1 / 7;
  }
  .gallery--grid10:not(.gallery--switch) .pos-7 {
    grid-area: 1 / 9;
  }
  .gallery--grid10:not(.gallery--switch) .pos-8 {
    grid-area: 3 / 10;
  }
  .gallery--grid10:not(.gallery--switch) .pos-9 {
    grid-area: 2 / 8;
  }
  .gallery--grid10:not(.gallery--switch) .pos-10 {
    grid-area: 4 / 9;
  }
  .gallery--grid10:not(.gallery--switch) .pos-11 {
    grid-area: 3 / 8;
  }
  .gallery--grid10:not(.gallery--switch) .pos-12 {
    grid-area: 2 / 2;
  }
  .gallery--grid10:not(.gallery--switch) .pos-13 {
    grid-area: 3 / 1;
  }
  .gallery--grid10:not(.gallery--switch) .pos-14 {
    grid-area: 3 / 4;
  }
  .gallery--grid10:not(.gallery--switch) .pos-15 {
    grid-area: 4 / 3;
  }
  .gallery--grid10:not(.gallery--switch) .pos-16 {
    grid-area: 4 / 7;
  }

  .gallery--stack .caption {
    bottom: 25%;
    width: 60vw;
    max-width: 800px;
  }

  .gallery--switch.gallery--stack .caption {
    left: 40vw;
  }
}

.card-wrap {
  margin-top: 5vh;
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: row;
  grid-template-columns: 250px;
}

.card__image {
  display: block;
  border-radius: 7px;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  filter: brightness(0.8);
}

.content-wrap {
  display: grid;
  place-items: center;
  grid-template-areas: "main";
}

.content {
  grid-area: main;
  display: grid;
  place-items: center;
  line-height: 1.2;
  grid-template-areas: "content";
}

.content-wrap .content:first-child {
  height: 100vh;
}

.content--layout {
  grid-template-areas:
    "title-up title-down"
    "img img"
    "text text";
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.content__img {
  grid-area: img;
  max-width: 50%;
  height: auto;
}

.content__img--1 {
  aspect-ratio: 896/1344;
}

.content__img--2 {
  aspect-ratio: 1000/450;
}

.content__img--3 {
  aspect-ratio: 1000/560;
}

.content__img--4 {
  aspect-ratio: 1400/560;
}

.content__img--5 {
  aspect-ratio: 680/920;
}

.content__img--6 {
  aspect-ratio: 1;
}

.content__img--7 {
  aspect-ratio: 1400/560;
}

.title-wrap {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

/* .title {
  font-family: "Phudu";
  font-weight: bold;
} */

.title--up {
  grid-area: title-up;
  /* font-style: italic; */
}

.title--down {
  grid-area: title-down;
  /* font-variation-settings:
    "wdth" 140,
    "wght" 350; */
}

.content__text {
  grid-area: text;
  text-transform: uppercase;
  margin: 0;
  opacity: 0.5;
}

@media screen and (min-width: 53em) {
  .frame {
    grid-template-columns: auto auto 1fr;
    grid-template-areas: "back prev sponsor";
    justify-items: start;
    grid-gap: 2rem;
  }

  .frame__prev {
    justify-self: end;
  }

  .title {
    /* font-size: clamp(2rem, 15vw, 9rem); */
    position: relative;
    z-index: 100;
    text-indent: -0.1em;
  }

  /* .content-wrap:not(:last-child) {
    margin-bottom: 30vmax;
  } */

  .content__img {
    max-width: none;
  }

  .content__img--1 {
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
  }

  .content--layout-1 {
    grid-template-areas:
      "title-up img ..."
      "text img title-down";
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 1fr 1fr;
    column-gap: 2vw;
  }

  .title--up {
    justify-self: end;
    align-self: start;
  }

  .content--layout-2 .title--up {
    justify-self: start;
  }

  .content--layout-3 .title--up {
    justify-self: end;
    align-self: center;
  }

  .content--layout-4 .title--up {
    justify-self: center;
  }

  .content--layout-6 .title--up {
    justify-self: end;
    align-self: start;
  }

  .content--layout-7 .title--up {
    justify-self: start;
  }

  .title--down {
    justify-self: start;
    align-self: end;
  }

  .content--layout-2 .title--down {
    justify-self: end;
    align-self: start;
    margin-top: -0.1em;
  }

  .content--layout-3 .title--down {
    align-self: center;
  }

  .content--layout-4 .title--down {
    justify-self: center;
  }

  .content--layout-6 .title--down {
    justify-self: end;
    align-self: start;
  }

  .content--layout-2 .content__text {
    align-self: start;
    justify-self: start;
    max-width: 400px;
  }

  .content--layout-1 .content__text {
    max-width: 335px;
    text-align: right;
    justify-self: end;
    align-self: end;
  }

  .card-wrap {
    grid-template-columns: repeat(3, 250px);
  }
}
