.tp-hero-ptb {
    padding-top: 200px;
    margin-bottom: 15em;

}

.tp-hero-title-wrap {
    display: flex;
    justify-content: center;
}



.tp-hero-title {

    color: #f5f7f5;
    font-family: 'gallery_modernregular', sans-serif;
}

.p-relative {
    position: relative;
}

.tp-hero-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    // position: absolute;
    // top: 45px;
    // left: -17%;
    color: #f5f7f5;
    font-family: 'Syne', sans-serif;
    text-align: left;
    left: -35%;
}

.tp-hero-shape-2 {
    position: absolute;
    top: 35%;
    z-index: -1;
    right: -60px;
}

.tp-hero-content {
    max-width: 570px;
    margin: 0 auto;
    // margin-bottom: 120px;

}


$font-url: 'https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Marcellus&family=Syne:wght@400;500;600;700;800&family=Aladin&display=swap';

.tp-hero-title-img {
    margin: 0px 20px;
}

.tp-hero-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
}

.tp-hero-content p span {
    margin-left: 95px;
    display: inline-block;
}