.title-intro-area {
    padding: 100px 0;
    background: #222222;

    @include bp(sm) {
        padding: 50px 0;
    }

    .section-subtitle {
        margin-bottom: 50px;

        p {

            color: var(--primary-color);
            text-transform: unset;
            margin-bottom: 0;
            line-height: 25px;
            display: inline-block;
            position: relative;
        }
    }

    .intro__title-inner {
        font-weight: 400;
        font-size: 100px;
        text-transform: unset;
        line-height: 1;
        margin-bottom: 0;
        color: #14cf93;

        @include bp(sm) {
            font-size: 78px;
        }
    }

    .contact-details {
        margin-top: 50px;
    }

    .shape-illustration {
        text-align: right;
    }

}








@media only screen and (max-width: 991px) {
    .intro__title-inner {
        font-size: 90px;

    }
}

@media only screen and (max-width: 479px) {


    .section__subtitle-3 {

        justify-content: center;
    }



    .intro__title-inner {}

    .shape-illustration {
        position: relative;

        bottom: -166px;
    }
}