/*******************************************************/
/******************** ## Skills Area ******************/
/*******************************************************/
.skill-items-wrap {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(134px, 1fr));
}

.skill-item {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    /* text-align: center;
    margin-bottom: 30px;
    border-radius: 14px;
    padding: 25px 10px 10px;
    background: var(--lighter-color);
    border: 1px solid var(--border-color); */
}

.skill-item .skill-inner {
    border: 2px solid var(--border-color);
    background: var(--lighter-color);
    border-radius: 85px;
    margin-bottom: 20px;
    padding: 54px 0 48px;
    transition: .3s;
}


.skill-item h5 {
    margin-top: 15px;
    margin-bottom: 16px;
    text-transform: capitalize;

}

.skill-item .percent {
    /* padding: 10px; */
    display: block;
    font-size: 25px;
    font-weight: 300;
    margin-top: 30px;

    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    line-height: 1.2;
    border-radius: 14px;
    /* background: #131313; */
    font-family: "DM Sans", sans-serif;
    color: var(--primary-color);

}

.skill-item:hover .skill-inner {
    border-color: var(--primary-color);
}