.bg-transparent {
    background-color: transparent;
}

.bg-red-100 {
    background-color: #ffc1c5;
}

/** Section Title style **/
.section-title {
    margin-top: -7px;
}

.section-title .sub-title {
    font-weight: 500;
    display: block;
    color: rgba(255, 255, 255, 0.65);
    align-items: center;
    border: 1px solid #565656;
    border-radius: 30px;
    padding: 7px 15px;
    display: inline-flex;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    gap: 5px;
}

.subtitle i {
    font-size: 14px;
    margin-bottom: 1px;
    margin-right: 10px;
}

.section-title .subtitle svg {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.section-title .subtitle .ov-icon {
    width: 17px;
    height: 17px;
}


.section-title h2 {
    margin-bottom: 25px;
}

.section-title h2 span {
    color: var(--primary-color);
}

@media only screen and (max-width: 767px) {
    .section-title h2 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 479px) {
    .section-title h2 {
        font-size: 30px;
        line-height: 1.3;
    }
}

.section-title h6 {
    font-size: 18px;
}

.section-title h6 span {
    color: var(--primary-color);
}

// Helper classes
.flex {
    display: flex;
}


.no-border {
    border: 0 !important;
}

// Global helper classes

// Pointer cursor

.cursor-pointer {
    cursor: pointer;
}

// Ellipsis classes

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ellipsis-2 {
    display: -webkit-box;
    height: 43px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Overflow class

.overflow-hidden {
    overflow: hidden;
}

.disabled {
    pointer-events: none;
}

.text-underline {
    text-decoration: underline !important;
}

.c-pointer {
    cursor: pointer;
}

.picture-fit {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    font-family: "object-fit: cover; object-position: center;";
}

.desktop-only {
    @include bp(tablet-sm) {
        display: none;
    }
}

.tablet-only {
    display: none;

    @include bp(tablet-sm) {
        display: block;
    }
}

.small-text {
    @include font-rem(12px, 15px);
}