.container {
}
.container .grid {
}
.abt-mil {
  &-pin-container {
    position: relative;
    z-index: 2;
  }
  position: relative;
  z-index: 2;
  margin-top: -1px;
  margin-bottom: -1px;
  &__ship {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    &-img {
      margin: 0 auto;
      width: 100%;
      max-width: 14.2rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-behind {
      z-index: 1;
    }
    &-front {
      z-index: 3;
      overflow: hidden;
    }
  }
  &__wrap {
    z-index: 2;
    background-color: transparent;
    background-image: linear-gradient(180deg, #d4f9d5 0%, #f6f9d4 100%);
    height: calc(100vh + 2px);
    position: relative;
    .container {
      height: 100%;
      overflow: hidden;
      --grid-column: 16;
      --container-padding: 6rem;
      padding: 0 var(--container-padding);
      width: 100%;
      max-width: 192rem;
      margin: 0 auto;
      &.grid {
        column-gap: 2rem;
        display: grid;
        grid-template-columns: repeat(var(--grid-column), 1fr);
      }
    }
  }
  &__head {
    grid-column: 2/7;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-self: center;
  }
  &__label {
    color: #9a9a9a;
    margin-bottom: 2rem;
  }
  &__title {
    // color: #fff;
    //margin-bottom: 4rem;
    //max-width: 28.6rem;
  }
  &__progress {
    width: 1.6rem;
    height: 25.5rem;
    border-radius: 9.9rem;
    border: solid 1px #ffffff1a;
    position: absolute;
    left: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
    &-inner {
      width: 100%;
      height: calc(100% - 1rem - 2px);
      position: relative;
      margin-top: calc(0.8rem - 1px);
      margin-bottom: calc(0.8rem - 1px);
      display: flex;
      justify-content: center;
    }
    &-dot {
      position: absolute;
      top: 0%;
      margin-top: -0.5rem;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: #ff471d;
    }
  }
  &__main {
    grid-column: 11/16;
    height: 100vh;
    //padding-top: 100vh;
    position: relative;
    // &::before,
    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   display: block;
    //   height: 25vh;
    //   z-index: 2;
    //   pointer-events: none;
    // }
    // &::before {
    //   background: linear-gradient(#212121 0%, #212121cc 45%, #21212100 100%);
    //   top: -2px;
    // }
    // &::after {
    //   background: linear-gradient(#21212100 0%, #212121cc 55%, #212121 100%);
    //   bottom: -2px;
    // }
  }
  &-inner {
    position: relative;
    z-index: 1;
    padding-top: 35vh;
    padding-bottom: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 5rem;
    max-width: 48.5rem;
  }
  &__main-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px 10px 30px 10px;
    min-height: 20vh;
    background-color: #0000000d;
    margin-bottom: 40px;
    border-radius: 32px 32px 32px 32px;
    &-label {
      color: #000;
      margin-bottom: 0.4rem;
    }
    &-title {
      color: #000;
      margin-bottom: 2rem;
      font-weight: 700;
    }
    &-richtext {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      &-p {
        color: #000;
      }
    }
  }
}
