// @use "header";
@use "lenis";

@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Phudu:wght@300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

// Lenis
.theme-blue {
  --color-text: #0f1b61;
  --color-light: #e1eff7;
  --color-medium: #aadcec;
  --color-dark: #508bbb;
  --color-highlight: #f67796;
}
:root {
  --accent: #0f1b61;
}
// body {
//   --hover-color: color-mix(in oklab, var(--accent-color), var(--accent-2) 40%);
//   --hover-color-2: color-mix(
//     in oklab,
//     var(--accent-color),
//     var(--accent-2) 20%
//   );
//   // background: #e1eff7;
//   overflow-x: hidden;
//   font-variation-settings: "wght" calc((1 - var(--progress)) * 300 + 400);
// }

// body::before {
//   --cal: calc(2.0833333333vw - 1px);
//   content: "";
//   pointer-events: none;
//   position: fixed;
//   top: 0;
//   left: 50%;
//   bottom: 0;
//   transform: translateX(-50%);
//   width: 100%;
//   height: 100%;
//   z-index: 10;
//   opacity: 0.03;
//   mix-blend-mode: difference;
//   background: repeating-linear-gradient(
//     to bottom,
//     rgba(128, 130, 248, 0) 0 var(--cal),
//     #8082f8 var(--cal) calc(var(--cal) + 1px)
//   );
//   // background-image: url("../svg/noise.gif");
//   // background-repeat: repeat;
// }
// body::after {
//   --cal: calc(2.0833333333% - 1px);
//   content: "";
//   pointer-events: none;
//   position: fixed;
//   top: 0;
//   left: 50%;
//   bottom: 0;
//   transform: translateX(-50%);
//   width: 100%;
//   height: 100%;
//   z-index: 10;
//   opacity: 0.03;
//   mix-blend-mode: difference;
//   background: repeating-linear-gradient(
//     to left,
//     rgba(128, 130, 248, 0) 0 var(--cal),
//     #8082f8 var(--cal) calc(var(--cal) + 1px)
//   );
// }
.homepage-header {
  --progress: 0;
  position: relative;
}
.homepage-header__sticky-container {
  height: 100vh;
  height: 100svh;
}
.homepage-header__sticky {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  height: 100svh;
  max-width: 100%;
  overflow-x: hidden;
  overflow-x: clip;
  overflow-y: visible;
  align-items: center;
}

.homepage-header__title {
  display: flex;
  align-items: end;
  font-size: 47vh;
  font-size: 45svh;
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: -0.01em;
  // color: #e1eff7;
  color: #e6e6e1;
  // -webkit-text-stroke: 2px var(--accent);
  --width: calc(var(--width-ratio) * 0.65em);
  --min-height: calc(var(--width) * var(--min-ratio));
  line-height: 0.83;
  // text-shadow: calc(2px + -0.0015em * 1) calc(-2px + 0.0015em * 1) 0
  //     var(--accent),
  //   calc(2px + -0.0015em * 2) calc(-2px + 0.0015em * 2) 0 var(--accent),
  //   calc(2px + -0.0015em * 3) calc(-2px + 0.0015em * 3) 0 var(--accent),
  //   calc(2px + -0.0015em * 4) calc(-2px + 0.0015em * 4) 0 var(--accent),
  //   calc(2px + -0.0015em * 5) calc(-2px + 0.0015em * 5) 0 var(--accent),
  //   calc(2px + -0.0015em * 6) calc(-2px + 0.0015em * 6) 0 var(--accent),
  //   calc(2px + -0.0015em * 7) calc(-2px + 0.0015em * 7) 0 var(--accent),
  //   calc(2px + -0.0015em * 8) calc(-2px + 0.0015em * 8) 0 var(--accent),
  //   calc(2px + -0.0015em * 9) calc(-2px + 0.0015em * 9) 0 var(--accent),
  //   calc(2px + -0.0015em * 10) calc(-2px + 0.0015em * 10) 0 var(--accent),
  //   calc(2px + -0.0015em * 11) calc(-2px + 0.0015em * 11) 0 var(--accent),
  //   calc(2px + -0.0015em * 12) calc(-2px + 0.0015em * 12) 0 var(--accent),
  //   calc(2px + -0.0015em * 13) calc(-2px + 0.0015em * 13) 0 var(--accent),
  //   calc(2px + -0.0015em * 14) calc(-2px + 0.0015em * 14) 0 var(--accent),
  //   calc(2px + -0.0015em * 15) calc(-2px + 0.0015em * 15) 0 var(--accent),
  //   calc(2px + -0.0015em * 16) calc(-2px + 0.0015em * 16) 0 var(--accent),
  //   calc(2px + -0.0015em * 17) calc(-2px + 0.0015em * 17) 0 var(--accent),
  //   calc(2px + -0.0015em * 18) calc(-2px + 0.0015em * 18) 0 var(--accent),
  //   calc(2px + -0.0015em * 19) calc(-2px + 0.0015em * 19) 0 var(--accent),
  //   calc(2px + -0.0015em * 20) calc(-2px + 0.0015em * 20) 0 var(--accent),
  //   calc(2px + -0.0015em * 21) calc(-2px + 0.0015em * 21) 0 var(--accent),
  //   calc(2px + -0.0015em * 22) calc(-2px + 0.0015em * 22) 0 var(--accent),
  //   calc(2px + -0.0015em * 23) calc(-2px + 0.0015em * 23) 0 var(--accent),
  //   calc(2px + -0.0015em * 24) calc(-2px + 0.0015em * 24) 0 var(--accent),
  //   calc(2px + -0.0015em * 25) calc(-2px + 0.0015em * 25) 0 var(--accent);
}

.homepage-header__title--top .split {
  transform: translateY(calc(-0.1em * var(--progress)));
}
.homepage-header__title--bottom .split {
  transform: translateY(calc(-0.2em * var(--progress) - 0.01em));
}
@media only screen and (min-width: 0px) and (max-width: 1024px) {
  .homepage-header__sticky-container {
    height: 37vh;
    height: 37svh;
  }
  .homepage-header__sticky {
    overflow: visible;
    height: auto;
  }
  .homepage-header__title {
    font-size: 21vh;
    font-size: 21svh;
    // color: var(--background);
  }
}

@media only screen and (min-width: 0px) and (max-width: 750px) {
  .homepage-header__title {
    text-shadow: 3px 0 0 var(--accent),
      calc(-2px * 1) calc(2px * 1) 0 var(--accent),
      calc(-2px * 2) calc(2px * 2) 0 var(--accent),
      calc(-2px * 3) calc(2px * 3) 0 var(--accent),
      calc(-2px * 4) calc(2px * 4) 0 var(--accent),
      calc(-2px * 5) calc(2px * 5) 0 var(--accent),
      calc(-2px * 6) calc(2px * 6) 0 var(--accent);
  }
}

.text-shadow {
  --distance: (0.5 + var(--i));
  text-shadow: calc(2px + -0.0015em * 1 * var(--distance))
      calc(-2px + 0.0015em * 1 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 2 * var(--distance))
      calc(-2px + 0.0015em * 2 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 3 * var(--distance))
      calc(-2px + 0.0015em * 3 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 4 * var(--distance))
      calc(-2px + 0.0015em * 4 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 5 * var(--distance))
      calc(-2px + 0.0015em * 5 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 6 * var(--distance))
      calc(-2px + 0.0015em * 6 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 7 * var(--distance))
      calc(-2px + 0.0015em * 7 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 8 * var(--distance))
      calc(-2px + 0.0015em * 8 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 9 * var(--distance))
      calc(-2px + 0.0015em * 9 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 10 * var(--distance))
      calc(-2px + 0.0015em * 10 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 11 * var(--distance))
      calc(-2px + 0.0015em * 11 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 12 * var(--distance))
      calc(-2px + 0.0015em * 12 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 13 * var(--distance))
      calc(-2px + 0.0015em * 13 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 14 * var(--distance))
      calc(-2px + 0.0015em * 14 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 15 * var(--distance))
      calc(-2px + 0.0015em * 15 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 16 * var(--distance))
      calc(-2px + 0.0015em * 16 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 17 * var(--distance))
      calc(-2px + 0.0015em * 17 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 18 * var(--distance))
      calc(-2px + 0.0015em * 18 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 19 * var(--distance))
      calc(-2px + 0.0015em * 19 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 20 * var(--distance))
      calc(-2px + 0.0015em * 20 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 21 * var(--distance))
      calc(-2px + 0.0015em * 21 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 22 * var(--distance))
      calc(-2px + 0.0015em * 22 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 23 * var(--distance))
      calc(-2px + 0.0015em * 23 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 24 * var(--distance))
      calc(-2px + 0.0015em * 24 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 25 * var(--distance))
      calc(-2px + 0.0015em * 25 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 26 * var(--distance))
      calc(-2px + 0.0015em * 26 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 27 * var(--distance))
      calc(-2px + 0.0015em * 27 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 28 * var(--distance))
      calc(-2px + 0.0015em * 28 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 29 * var(--distance))
      calc(-2px + 0.0015em * 29 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 30 * var(--distance))
      calc(-2px + 0.0015em * 30 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 31 * var(--distance))
      calc(-2px + 0.0015em * 31 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 32 * var(--distance))
      calc(-2px + 0.0015em * 32 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 33 * var(--distance))
      calc(-2px + 0.0015em * 33 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 34 * var(--distance))
      calc(-2px + 0.0015em * 34 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 35 * var(--distance))
      calc(-2px + 0.0015em * 35 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 36 * var(--distance))
      calc(-2px + 0.0015em * 36 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 37 * var(--distance))
      calc(-2px + 0.0015em * 37 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 38 * var(--distance))
      calc(-2px + 0.0015em * 38 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 39 * var(--distance))
      calc(-2px + 0.0015em * 39 * var(--distance)) 0 var(--accent),
    calc(2px + -0.0015em * 40 * var(--distance))
      calc(-2px + 0.0015em * 40 * var(--distance)) 0 var(--accent);
  color: #f5f7f5;
  // -webkit-text-stroke: 0.01em var(--shadow-color, var(--accent));
}

.shadow--dark {
  --accent: #101010;
}

.pin-spacer {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.medium-heading {
  font-size: 4.6666666667vw;
  line-height: 1;
  letter-spacing: -0.01em;
}
@media only screen and (max-width: 685.714px) {
  .medium-heading {
    font-size: 32px;
  }
}
@layer utilities {
  .text-block {
    --padding: clamp(0.75rem, 2.0833333333vw, 2.5rem);
    padding: calc(var(--padding) * 2) var(--padding) 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1024px) {
  .text-block {
    width: 83.3333333333vw;
  }
}
